<h1>Barks#Index Page</h1>

<div id='links'>
  <a id='new-bark-link' href="/barks/new">Create a New Bark!</a>
</div>

<div id='all-barks'>
  <% if @barks %>
    <% @barks.each do |bark| %>
      <li class='li bark'>
        <a class='list-bark-show-link' href=<%=bark_path(bark)%>><%=bark.title%></a>
      </li>
    <% end %>
  <% end %>
</div>