<h1>Barks#Index Page</h1>

<div id='links'>
  <a id='new-bark-link' href="/barks/new">Create a New Bark!</a>
</div>

<div id='all-barks'>
  <% if @barks %>
    <% @barks.each do |bark| %>
      <li class='li bark'>
        <%= link_to "#{bark.title}", bark_path(bark) %>
      </li>
    <% end %>
  <% end %>
</div>